html {
    height: 100vh;
}
body {
    font-family: 'Roboto', 'sans-serif';
    background: -webkit-linear-gradient(to bottom right, #333 10%, #333 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(to bottom right, #333 10%, #333 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(to bottom right, #333 10%, #333 90%); /* IE10 */
    background:      -o-linear-gradient(to bottom right, #333 10%, #333 90%); /* Opera 11.10+ */
    background:         linear-gradient(to bottom right, #787875 10%, #333335 90%); /* W3C */
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 0.15em;
    color: white;
    line-height: 2.5em;
}

#content {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;

}

#name {
    font-size: 2em;
    font-weight: bold;
}

#title {
    font-size: 0.7em;
    text-decoration: italic;
}

.links {
    font-size: 0.5em;
}
.links a {
    color: #999;
    text-decoration: none;
    margin-left: 2em;
    margin-right: 2em;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:500);
